<h1>Listing tipos</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipos.each do |tipo| %>
  <tr>
    <td><%= tipo.id %></td>
    <td><%= tipo.nome %></td>
    <td><%= link_to 'Show', tipo %></td>
    <td><%= link_to 'Edit', edit_tipo_path(tipo) %></td>
    <td><%= link_to 'Destroy', tipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo', new_tipo_path %>
