<h1>Lista de produtos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Descricao</th>
    <th>Valor</th>
    <th></th>
  </tr>

<% @produtos.each do |produto| %>
  <tr>
    <td><%= produto.nome %></td>
    <td><%= produto.tipo %></td>
    <td><%= produto.descricao %></td>
    <td><%= produto.valor %></td>
    <td><%= link_to 'Detalhes', produto %></td>
  </tr>
<% end %>
</table>

<br />
