<p id="notice"><%= notice %></p>

<h1>Detalhes do produto</h1>
<p>
  <b>Nome:</b>
  <%= @produto.nome %>
</p>

<p>
  <b>Tipo:</b>
  <%= @produto.tipo %>
</p>

<p>
  <b>Descricao:</b>
  <%= @produto.descricao %>
</p>

<p>
  <b>Valor:</b>
  <%= @produto.valor %>
</p>

<%= link_to 'Comprar', '' %>
