<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @produto.id %>
</p>

<p>
  <b>Nome:</b>
  <%= @produto.nome %>
</p>

<p>
  <b>Tipo:</b>
  <%= @produto.tipo %>
</p>

<p>
  <b>Descricao:</b>
  <%= @produto.descricao %>
</p>

<p>
  <b>Valor:</b>
  <%= @produto.valor %>
</p>


<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
